.list {
  gap: rem(12);
  display: flex;
  flex-direction: column;

  .item {
    gap: rem(8);
    display: flex;
    position: relative;
    align-items: center;
    padding-block: rem(10);

    &-label {
      font-weight: 600;
      font-size: rem(14);
      color: $text-muted-clr;
    }

    &.active {
      .item-label {
        color: $text-clr;
      }

      &::after {
        content: "";
        top: 50%;
        left: rem(-30);
        width: 0.188rem;
        height: 1.375rem;
        position: absolute;
        border-radius: 30px;
        background: $text-clr;
        transform: translateY(-50%);
      }
    }
  }
}
