.view {
  display: grid;
  height: 100vh;
  transition: padding var(--layout-trans);
  grid-template-columns: rem(248) 1fr rem(368);
}

.content {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
}

.toggle-button {
  left: 0;
  z-index: 2;
  display: none;
  position: fixed;

  svg {
    width: rem(24);
    height: rem(24);
  }
}
